.navbar img {
    width: 1.2rem;
}

.welcome {
    background: url('/img/background.jpg');
    background-position: center center;
    background-size: cover;
    color: white;
}

.py-4{
    background: #222222;
}

body{
    background: #222222;
}

.card{
    color: #ffffff;
    border-width: 0;
}

.card-header{
    background-color: #424242;
}

.card-body{
    background-color: #303030;
}